<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container my-2" >
  <h1>Student Management System</h1>
  <hr>
  <h2 style="margin:10px">Student List</h2>
  <a th:href="@{/addNewStudentForm}" class="btn btn-primary btn-sm" style="margin:20px">Add New Student</a>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${listStudents}">
      <th scope="row" th:text="${student.id}"></th>
      <td th:text="${student.firstName}"></td>
      <td th:text="${student.lastName}"></td>
      <td th:text="${student.mail}"></td>
      <td> <a th:href="@{/showFormForUpdate/{id}(id=${student.id})}" class="btn btn-primary">Update</a>
        <a th:href="@{/deleteStudent/{id}(id=${student.id})}" class="btn btn-danger">Delete</a>
      </td>
    </tr>

    </tbody>
  </table>

</div>
</body>
</html>